* {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

/* styling for main page */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-image {
  margin-top: 20px;
}

#header-main {
  text-align: center;
  font-size: 36px;
}

#description-main {
  text-align: center;
}

.recipes {
  list-style-type: none;
  text-align: center;
  font-size: 24px;
}

.recipes-list {
  transition: background-color 0.5s ease-in 100ms;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipes-list:hover {
  background-color: black;
  color: white;
}

.recipes-list a {
  color: black;
  transition: color 0.5s ease-in 100ms;
}

.recipes-list a:hover {
  color: white;
  text-decoration: none;
}

#first-item-list-main {
  margin-top: 0px;
}

.recipes .recipes-list {
  font-size: 30px;
}

/* extra styling for recipe pages */

.body {
  align-content: center;
  margin: 0 500px 500px;
}
.recipe-header {
  font-size: 36px;
  color: white;
  text-align: center;
  background-color: green;
  margin-bottom: 0;
}

.recipe-small-header {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.image-recipe {
  width: 100%;
}

.list-recipe li {
  margin-bottom: 10px;
}

body {
  background-color: lightgray;
}
